/*estilos generales*/

body {
  background-color: #EEF3C4;
  font-family: 'Droid Sans Mono', monospace;
  font-weight: bold;
}

/*estilos del encabezado del header*/

select{
  height: 30px;
  width: 200px;
  background-color: #fcab32;
  border-radius: 10px;
  border-style: none;
  margin: 10px 500px;
}

section{
  margin: 10px 220px;
}

.student {
  display: inline-block;
  margin: 10px;
}

img{
  width: 270px;
}
img:hover{
  border-radius: 100%;
  transition: 1s;
}
.show-students{
  display: block;
}
.hide-students{
  display: none;
}
